/CourseGoalsLetter_Beginning_JadaBower.pdf
/CourseGoalsLetter_Mid_JadaBower.pdf
/ds250_project_template.qmd
/get_to_know_you_JadaBower.pptx
/in-class-2-20.qmd
/in_class_1_21.qmd
/p2MethodsCheck.qmd
/sql_test.qmd